<html> 
  <head> 
    <title>Console - Maji Quest</title> 
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="console.css">
  </head> 
  <body> 
    <script type="text/javascript" src="index.js"> 
    </script> 
    <div id="console"></div> 
    <output></output>
      <div id="input-line" class="input-line">
        <div class="prompt"></div><div><input class="cmdline" autofocus /></div>
    </div>
    <script type="text/javascript", src="index2.js">
    </script>
   

  </body> 
</html>